@model restaurante.Models.Bodega
@{
    ViewData["Title"] = "Agregar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Agregar Producto</h3>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Create">

                <div class="">
                    <label  asp-for="Nombre" class="control-label"></label>
                    <input  asp-for="Nombre" class="form-control"/>
                </div>

                 <div class="">
                    <label  asp-for="Ingreso" class="control-label"></label>
                    <input  asp-for="Ingreso" class="form-control"/>
                </div>

                 <div class="">
                    <label  asp-for="Cantidad" class="control-label"></label>
                    <input  asp-for="Cantidad" class="form-control"/>
                </div>

                 <div class="">
                    <label  asp-for="Tipo" class="control-label"></label>
                    <input  asp-for="Tipo" class="form-control"/>
                    
                </div>
               
                <div class="">
                    <input type="submit" value="Agregar Producto" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>
</div>

